.ContentContainer {
  @apply flex justify-center py-32;
  background-color: #282a29;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.ContentContainer main {
  @apply flex gap-8 w-4/5;
}

.ContentContainer img {
  @apply w-1/2;
}

.ContentContainer main div {
  @apply my-2;
}

.ContentContainer div h4 {
  @apply text-white text-base my-4;
}
.ContentContainer div h1 {
  @apply text-white text-2xl;
}

.ContentContainer p {
  @apply text-gray-200  text-justify mt-2;
  font-weight: 100;
}

.skillsContainer {
  @apply text-white py-32 px-40;
}
.main {
  @apply flex justify-around  rounded-md shadow-lg mb-8 items-center p-5;
  background-color: #282a29;
  width: 24%;
  color: #d69e2e;
}

.main:hover {
  @apply px-8;
}

.skillsContainer div {
  @apply font-bold;
}

.skillsContainer div h1 {
  @apply my-2;
}

.skillsContainer div h4 {
  @apply py-3;
}
