.ContentContainer {
  @apply flex justify-center py-32;
  background-color: #282a29;
}

.ContentContainer main {
  @apply flex gap-8;
  width: 1150px;
}

.ContentContainer main span {
  @apply rounded-md;
  width: 1440px;
  height: 510px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.ContentContainer img {
  @apply w-1/2;
}

.ParentAbout {
  @apply my-3;
}

.ChildAbout {
  @apply flex items-center gap-3 w-32 text-center rounded-md;
}

.ChildAbout div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ChildAbout h5 {
  @apply text-white text-base my-4;
}

.ParentAbout h1 {
  @apply font-bold text-4xl text-white;
}

.ParentAbout button {
  @apply w-1/4 mt-10 font-semibold text-lg text-center rounded-lg;
  background-color: #f7b633;
  color: #25282b;
  padding: 8px 24px;
  line-height: 150%;
}

.ParentAbout button:focus {
  outline: none;
}

.ParentAbout button:hover {
  color: #f7b633;
  background-color: transparent;
  border: 1px solid #f7b633;
}

.ContentContainer p {
  @apply text-gray-200 text-justify mt-2;
  font-weight: 100;
}

.skillsContainer {
  @apply text-white py-24 px-40;
  background-color: #2c2e2d;
}

.main {
  @apply flex justify-around  rounded-md shadow-lg mb-8 items-center p-5 w-64;
  background-color: #282a29;
}

.main img {
  @apply w-12 h-12;
}

.main:hover {
  @apply px-8;
  color: #d69e2e;
}

.skillsContainer div {
  @apply font-bold;
}

.SkillsFlex {
  @apply flex flex-wrap justify-between items-center;
}

.headerImage {
  @apply bg-fixed bg-no-repeat bg-cover;
  background-image: url("../../public/headerlogo.png");
}

.headerImage main {
  @apply;
  background-color: rgba(1, 1, 1, 0.8);
}

.ParentSkills {
  @apply flex items-center gap-3 w-32 text-center rounded-md;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ParentSkills div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ParentSkills h5 {
  @apply font-normal;
}

.SkillIntro h1 {
  @apply font-bold text-4xl mb-10 mt-4;
}

.ServicesContainer {
  @apply text-white py-32 px-40;
  height: 1000px;
  background-color: #282a29;
}

.ServicesFlex {
  @apply flex flex-wrap justify-between;
}

.ParentServices {
  @apply flex items-center gap-3 w-40 text-center rounded-md;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ParentServices div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ServicesIntro h1 {
  @apply font-bold text-4xl mb-10 mt-4;
}

.ServicesMain {
  @apply flex flex-col mb-10 p-8 items-start;
  background-color: #2c2e2d;
  width: 31%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ServicesMain h3 {
  @apply font-semibold text-lg py-5;
}

main.ServicesMain:hover {
  @apply font-semibold;
  background-color: #d69e2e;
  color: #000000;
}

.ServicesMain img {
  @apply;
  width: 45px;
  height: 40px;
}

.ServicesMain h6 {
  @apply font-hairline;
  width: 300px;
}

.ServicesMain div {
  @apply flex items-center justify-center;
  background-color: #d69e2e;
  width: 65px;
  height: 60px;
  border-radius: 50%;
}

.ProjectIntro {
  @apply text-white py-32 px-40;
  height: 2730px;
  background-color: #2c2e2d;
}

.ParentProject {
  @apply flex items-center gap-3 w-40 text-center rounded-md;
  box-shadow: "0px 10px 15px -3px rgba(0, 0, 0, 0.1)";
}

.ParentProject div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ProjectIntro h1 {
  @apply font-bold text-4xl mb-10 mt-4;
}

.firstContainer {
  @apply flex justify-center mb-20;
}

.boxOne {
  @apply rounded-tl-lg rounded-bl-lg px-10 py-5;
  background-color: #282a29;
  height: 390px;
  width: 496px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.boxOne h1 {
  @apply mt-8 text-3xl;
}

.boxTwo {
  @apply flex justify-center items-center;
  background-color: #f0f0f0;
  height: 390px;
  width: 496px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.projectButton1 {
  @apply mt-10 font-semibold text-lg text-center rounded-lg;
  background-color: #f7b633;
  width: 30%;
  color: #25282b;
  padding: 8px 24px;
  line-height: 150%;
  cursor: pointer;
}

.projectButton2 {
  @apply mt-10 font-semibold text-lg text-center rounded-lg;
  width: 30%;
  padding: 8px 24px;
  line-height: 150%;
  border: 1px solid #f7b633;
  cursor: pointer;
  color: #f7b633;
  background-color: transparent;
}

.projectButton1:hover {
  color: #f7b633;
  background-color: transparent;
  border: 1px solid #f7b633;
}

.projectButton1:focus {
  outline: none;
}

.projectButton2:hover {
  color: #25282b;
  background-color: #f7b633;
}

.projectButton2:focus {
  outline: none;
}

.DialogContainer {
  @apply;
}

.DialogContainer button:focus {
  outline: none;
}

@media only screen and (max-width: 1024px) and (min-width: 800px),
  only screen and (max-device-width: 1024px) and (min-device-width: 800px) {
  /* body {
    max-width: 100vw;
    max-height: 100vh;
  } */
}

@media only screen and(max-width:799px),
  only screen and (max-device-width: 799px) {
  .ContentContainer {
    @apply flex justify-center py-32;
    background-color: #282a29;
  }

  .ContentContainer main {
    @apply flex gap-8;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .ContentContainer main span {
    @apply;

    display: none;
  }

  .ParentAbout {
    @apply flex flex-col justify-center items-center my-3;
  }

  .ChildAbout {
    @apply flex items-center gap-3 w-48;
  }

  .ChildAbout div {
    @apply w-24 h-2;
    background-color: #d69e2e;
  }

  .ChildAbout h5 {
    @apply text-white text-3xl my-4 w-128 font-normal;
  }

  .ParentAbout h1 {
    @apply font-bold text-6xl text-white;
  }

  .ParentAbout button {
    @apply w-1/4 mt-10 font-semibold text-5xl text-center rounded-lg;
    background-color: #f7b633;
    color: #25282b;
    padding: 8px 24px;
    line-height: 150%;
  }

  .ContentContainer p {
    @apply text-gray-200  mt-5 font-hairline text-5xl;
  }

  .skillsContainer {
    @apply text-white py-40 px-40 flex flex-col items-center justify-center;
    background-color: #2c2e2d;
  }

  .main {
    @apply flex justify-around  rounded-md shadow-lg mb-10 items-center p-20;
    background-color: #282a29;
    width: 100%;
  }

  .main img {
    @apply w-32 h-32;
  }

  .main div {
    @apply font-extrabold text-5xl;
  }

  .SkillsFlex {
    @apply flex flex-col justify-center items-center gap-2;
    height: 100%;
    width: 100%;
  }

  .SkillIntro {
    @apply flex flex-col justify-center items-center;
  }
  .ParentSkills {
    @apply flex items-center gap-3 w-48 text-center rounded-md;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .ParentSkills div {
    @apply w-24 h-2;
    background-color: #d69e2e;
  }

  .ParentSkills h5 {
    @apply text-white font-normal text-3xl my-4 w-128;
  }

  .SkillIntro h1 {
    @apply mb-12 mt-4 font-bold text-6xl text-white;
  }

  .ParentServices {
    @apply flex items-center gap-3 w-64 text-center rounded-md;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .ParentServices div {
    @apply w-24 h-2;
    background-color: #d69e2e;
  }

  .ParentServices h5 {
    @apply text-white font-normal text-3xl my-4 w-128;
  }

  .ServicesIntro h1 {
    @apply font-bold text-6xl mb-10 mt-4;
  }

  .ServicesContainer {
    @apply text-white py-32 px-40;
    height: 5100px;
    background-color: #282a29;
  }

  .ServicesMain {
    @apply flex flex-col mb-16 p-32 items-center justify-center;
    background-color: #2c2e2d;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .ServicesMain h3 {
    @apply font-semibold text-5xl py-5 text-center;
    width: 100%;
  }

  .ServicesMain img {
    @apply;
    width: 115px;
    height: 110px;
  }

  .ServicesMain h6 {
    @apply font-hairline text-center;
    width: 100%;
    font-size: 40px;
  }

  .ServicesMain div {
    @apply flex items-center justify-center;
    background-color: #d69e2e;
    width: 145px;
    height: 140px;
    border-radius: 50%;
  }

  .ServicesFlex {
    @apply flex flex-col  justify-around items-center pb-32;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .ServicesIntro {
    @apply flex flex-col justify-center items-center mb-5;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .ProjectIntro {
    @apply text-white py-32 px-40;
    height: 6900px;
    background-color: #2c2e2d;
  }

  .ProjectMain {
    @apply flex flex-col items-center justify-center;
  }

  .ProjectMain h1 {
    @apply font-bold text-6xl mb-10 mt-4;
  }

  .ParentProject {
    @apply flex  gap-3 w-64 rounded-md;
    box-shadow: "0px 10px 15px -3px rgba(0, 0, 0, 0.1)";
  }

  .ParentProject div {
    @apply w-24 h-2;
    background-color: #d69e2e;
  }

  .ParentProject h1 {
    @apply font-bold text-6xl mb-12 mt-4 text-center;
  }
  .ParentProject h5 {
    @apply text-white font-normal text-3xl my-4 w-128 text-center;
  }

  .firstContainer {
    @apply flex flex-col justify-center items-center mb-20;
  }

  .boxOne {
    @apply rounded-tl-lg rounded-bl-lg px-10 py-12;
    background-color: #282a29;
    height: 600px;
    width: 970px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .boxOne h1 {
    @apply mt-8 text-5xl;
  }

  .boxOne p {
    @apply text-3xl font-normal;
  }

  .boxTwo {
    @apply flex justify-center items-center;
    background-color: #f0f0f0;
    height: 600px;
    width: 970px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .projectButton1 {
    @apply mt-10 font-semibold text-3xl text-center rounded-lg;
    background-color: #f7b633;
    width: 30%;
    color: #25282b;
    padding: 12px 30px;
    line-height: 150%;
    cursor: pointer;
  }

  .projectButton2 {
    @apply mt-10 font-semibold text-3xl text-center rounded-lg;
    width: 30%;
    padding: 12px 30px;
    line-height: 150%;
    border: 1px solid #f7b633;
    cursor: pointer;
    color: #f7b633;
    background-color: transparent;
  }

  .projectButton1:hover {
    color: #f7b633;
    background-color: transparent;
    border: 1px solid #f7b633;
  }

  .projectButton1:focus {
    outline: none;
  }

  .projectButton2:hover {
    color: #25282b;
    background-color: #f7b633;
  }

  .projectButton2:focus {
    outline: none;
  }
}
