.ContentContainer {
  @apply flex justify-center py-32;
  background-color: #282a29;
}

.ContentContainer main {
  @apply flex gap-8;
  width: 1150px;
}

.ContentContainer main span {
  @apply rounded-md;
  width: 1440px;
  height: 510px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.ContentContainer img {
  @apply w-1/2;
}

.ParentAbout {
  @apply my-3;
}

.ChildAbout {
  @apply flex items-center gap-3 w-32 text-center rounded-md;
}

.ChildAbout div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ChildAbout h5 {
  @apply text-white text-base my-4;
}

.ParentAbout h1 {
  @apply font-bold text-4xl text-white;
}

.ParentAbout button {
  @apply w-1/4 mt-10 font-semibold text-lg text-center rounded-lg;
  background-color: #f7b633;
  color: #25282b;
  padding: 8px 24px;
  line-height: 150%;
}

.ParentAbout button:focus {
  outline: none;
}

.ParentAbout button:hover {
  color: #f7b633;
  background-color: transparent;
  border: 1px solid #f7b633;
}

.ContentContainer p {
  @apply text-gray-200 text-justify mt-2;
  font-weight: 100;
}

.skillsContainer {
  @apply text-white py-24 px-40;
  background-color: #2c2e2d;
}

.main {
  @apply flex justify-around  rounded-md shadow-lg mb-8 items-center p-5;
  background-color: #282a29;
  width: 250px;
}

.main img {
  @apply;
  width: 50px;
  height: 50px;
}

.main:hover {
  @apply px-8;
  color: #d69e2e;
}

.skillsContainer div {
  @apply font-bold;
}

.headerImage {
  @apply bg-fixed bg-no-repeat bg-cover;
  background-image: url("../../public/headerlogo.png");
}

.headerImage main {
  @apply;
  background-color: rgba(1, 1, 1, 0.8);
}

.ParentSkills {
  @apply flex items-center gap-3 w-32 text-center rounded-md;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ParentSkills div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ParentSkills h5 {
  @apply font-normal;
}

.SkillIntro h1 {
  @apply font-bold text-4xl mb-10 mt-4;
}

.ServicesContainer {
  @apply text-white py-32 px-40;
  height: 1000px;
  background-color: #282a29;
}

.ParentServices {
  @apply flex items-center gap-3 w-40 text-center rounded-md;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ParentServices div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ServicesIntro h1 {
  @apply font-bold text-4xl mb-10 mt-4;
}

.ServicesMain {
  @apply flex flex-col mb-10 p-8 items-start;
  background-color: #2c2e2d;
  width: 31%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ServicesMain section {
  @apply;
  width: 300px;
}

.ServicesMain h3 {
  @apply font-semibold text-lg py-5;
}

main.ServicesMain:hover {
  @apply font-semibold;
  background-color: #d69e2e;
  color: #000000;
}

.ServicesMain img {
  @apply;
  width: 45px;
  height: 40px;
}

.ServicesMain h6 {
  @apply font-hairline;
  width: 290px;
}

.ServicesMain div {
  @apply flex items-center justify-center;
  background-color: #d69e2e;
  width: 65px;
  height: 60px;
  border-radius: 50%;
}

.ProjectIntro {
  @apply text-white py-32 px-40;
  height: 2730px;
  background-color: #2c2e2d;
}

.ParentProject {
  @apply flex items-center gap-3 w-40 text-center rounded-md;
  box-shadow: "0px 10px 15px -3px rgba(0, 0, 0, 0.1)";
}

.ParentProject div {
  @apply w-8 h-1;
  background-color: #d69e2e;
}

.ProjectIntro h1 {
  @apply font-bold text-4xl mb-10 mt-4;
}

.firstContainer {
  @apply flex justify-center mb-20;
}

.boxOne {
  @apply rounded-tl-lg rounded-bl-lg px-10 py-5;
  background-color: #282a29;
  height: 390px;
  width: 496px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.boxOne h1 {
  @apply mt-8 text-3xl;
}

.boxTwo {
  background-color: #f0f0f0;
  height: 390px;
  width: 496px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.projectButton1 {
  @apply mt-10 font-semibold text-lg text-center rounded-lg;
  background-color: #f7b633;
  width: 30%;
  color: #25282b;
  padding: 8px 24px;
  line-height: 150%;
  cursor: pointer;
}

.projectButton2 {
  @apply mt-10 font-semibold text-lg text-center rounded-lg;
  width: 30%;
  padding: 8px 24px;
  line-height: 150%;
  border: 1px solid #f7b633;
  cursor: pointer;
  color: #f7b633;
  background-color: transparent;
}

.projectButton1:hover {
  color: #f7b633;
  background-color: transparent;
  border: 1px solid #f7b633;
}

.projectButton1:focus {
  outline: none;
}

.projectButton2:hover {
  color: #25282b;
  background-color: #f7b633;
}

.projectButton2:focus {
  outline: none;
}

.DialogContainer {
  @apply;
}

.DialogContainer button:focus {
  outline: none;
}
