.ContactContainer {
  @apply flex flex-col items-center py-32;
  background-color: #282a29;
  height: 897px;
}

.ParentContact {
  @apply flex flex-col justify-center items-center;
  width: 65%;
}

.ChildContact {
  @apply flex justify-center gap-8 items-center;
}

.ParentContact h3 {
  @apply font-bold text-4xl;
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 16px;
  line-height: 72px;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 16px;
  line-height: 72px;
}

.line {
  @apply;
  width: 150px;
  background-color: #d69e2e;
  height: 3px;
}

button {
  @apply w-full mt-32 font-semibold text-lg text-center rounded-lg;
  background-color: #f7b633;
  color: #25282b;
  padding: 8px 24px;
  line-height: 150%;
}

button:hover {
  color: #f7b633;
  background-color: transparent;
  border: 1px solid #f7b633;
}

button:focus {
  outline: none;
}

.ParentContact form {
  @apply w-full mt-8;
  height: 400px;
}

.ParentContact form div {
  @apply flex gap-8;
}

.ParentContact form div input {
  @apply;
  width: 90%;
  height: 60px;
  background-color: #2c2e2d;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 15px;
  color: white;
}

.ParentContact form input {
  width: 100%;
  height: 60px;
  background-color: #2c2e2d;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 15px;
  color: white;
  margin-top: 50px;
}

.ParentContact form textarea {
  width: 100%;
  height: 190px;
  background-color: #2c2e2d;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 50px;
  color: white;
}

.footer {
  @apply flex justify-center items-center;
  background-color: #2c2e2d;
  height: 150px;
}

.footer main {
  @apply flex flex-col justify-center items-center;
}

.footer main p {
  @apply mt-6;
  color: #f7b633;
  font-weight: 200;
  font-size: 15px;
  line-height: 22px;
}

.footer main div {
  @apply flex gap-5;
}

.footerIcons {
  @apply w-2/5 h-10;
  border-radius: 50%;
  background-color: #f7b633;
  padding: 5px;
  cursor: pointer;
}

@media only screen and(max-width:799px),
  only screen and (max-device-width: 799px) {
  ContactContainer {
    @apply flex flex-col items-center py-32;
    background-color: #282a29;
    height: 897px;
  }

  .ParentContact {
    @apply flex flex-col justify-center items-center;
    width: 95%;
  }

  .ChildContact {
    @apply flex justify-center gap-8 items-center;
  }

  .ParentContact h3 {
    @apply font-bold;
    color: white;
    font-size: 3.5rem;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 26px;
    line-height: 72px;
  }

  textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 26px;
    line-height: 72px;
  }

  .line {
    @apply;
    width: 150px;
    background-color: #d69e2e;
    height: 3px;
  }

  button {
    @apply w-full mt-40 font-semibold text-2xl text-center rounded-lg;
    background-color: #f7b633;
    color: #25282b;
    padding: 8px 24px;
    line-height: 150%;
  }

  button:hover {
    color: #f7b633;
    background-color: transparent;
    border: 1px solid #f7b633;
  }

  button:focus {
    outline: none;
  }

  .ParentContact form {
    @apply w-full mt-8;
    height: 400px;
  }

  .ParentContact form div {
    @apply flex gap-8;
  }

  .ParentContact form div input {
    @apply;
    width: 90%;
    height: 90px;
    background-color: #2c2e2d;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 15px;
    color: white;
  }

  .ParentContact form input {
    width: 100%;
    height: 90px;
    background-color: #2c2e2d;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    margin-top: 50px;
  }

  .ParentContact form textarea {
    width: 100%;
    height: 190px;
    background-color: #2c2e2d;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 50px;
    color: white;
  }

  .footer {
    @apply flex justify-center items-center;
    background-color: #2c2e2d;
    height: 150px;
  }

  .footer main {
    @apply flex flex-col justify-center items-center;
  }

  .footer main p {
    @apply mt-6;
    color: #f7b633;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
  }

  .footer main div {
    @apply flex gap-5;
  }

  .footerIcons {
    @apply w-3/5 h-10;
    border-radius: 50%;
    background-color: #f7b633;
    padding: 5px;
    cursor: pointer;
  }
}
