.NavbarContainer {
  @apply fixed top-0 left-0 right-0 flex justify-between p-8;
}

.NavbarContainer nav {
  @apply flex justify-between mr-20;
  width: 600px;
}

.NavbarContainer nav a {
  @apply font-bold text-white;
  cursor: pointer;
}

.NavbarContainer nav a:hover {
  @apply font-extrabold;
  color: #f7b633;
}

.active {
  color: #f7b633;
}

.HeaderContainer {
  @apply text-center py-48 bg-cover bg-no-repeat;
  height: 755px;
}

.HeaderContainer main {
  @apply flex flex-col bg-transparent py-6;
}

.HeaderContainer main h6 {
  @apply text-white font-medium text-2xl mt-3;
  line-height: 72px;
}

.HeaderContainer main h1 {
  @apply text-white font-extrabold text-6xl mt-6;
  line-height: 72px;
}

.Project {
  @apply font-semibold text-lg;
  width: 120px;
  height: 43px;
  border: 1px solid #f7b633;
  border-radius: 10px;
  padding: 8px 24px;
  cursor: pointer;
  color: #f7b633;
  line-height: 150%;
}

.Project:hover {
  color: #25282b;
  background-color: #f7b633;
}

.Project:focus {
  outline: none;
}

.Contact {
  @apply font-semibold text-lg;
  width: 118px;
  height: 43px;
  border: 1px solid #f7b633;
  background-color: #f7b633;
  border-radius: 10px;
  padding: 8px 24px;
  cursor: pointer;
  color: #25282b;
  line-height: 150%;
}

.Contact:hover {
  color: #f7b633;
  background-color: transparent;
}

.Contact:focus {
  outline: none;
}
.ParentHeader {
  @apply flex;
}

.ParentHeader h5 {
  @apply text-white mt-3 font-medium text-2xl;
  line-height: 72px;
}

.HeaderContainer div {
  @apply flex justify-center gap-8 mt-12;
}

.HeaderContainer p {
  @apply text-yellow-600  transform rotate-90 mt-20;
  cursor: pointer;
}

.line {
  @apply;
  width: 150px;
  background-color: #d69e2e;
  height: 3px;
  position: relative;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: 2;
}

@keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
