.NavbarContainer {
  @apply fixed top-0 left-0 right-0 flex justify-between p-8;
}

.NavbarContainer nav {
  @apply flex justify-between mr-20;
}

.NavbarContainer nav a {
  @apply font-bold text-white;
  cursor: pointer;
}

.NavbarContainer nav a:hover {
  @apply font-extrabold;
  color: #f7b633;
}

.active {
  @apply text-yellow-600;
}

.HeaderContainer {
  @apply text-center py-48 bg-cover bg-no-repeat;
}
.HeaderContainer h6 {
  @apply font-mono text-white mt-3;
}

.HeaderContainer main h1 {
  @apply text-white font-extrabold text-6xl mt-10;
}

.HeaderContainer div {
  @apply flex justify-center gap-8 mt-12;
}

.HeaderContainer p {
  @apply text-yellow-600  transform rotate-90 mt-20;
  cursor: pointer;
}

.line {
  @apply;
  width: 150px;
  background-color: #d69e2e;
  height: 3px;
  position: relative;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: 2;
}

@keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
