.NavbarContainer {
  @apply fixed z-10 top-0 left-0 right-0 items-center flex justify-between p-8;
}

.NavbarContainer nav {
  @apply flex justify-evenly py-2;
  width: 600px;
  background-color: #282a29;
  border-radius: 10px;
}

.NavbarContainer nav a {
  @apply font-normal text-white text-lg cursor-pointer;
}

.NavbarContainer nav a:hover {
  @apply font-extrabold;
  color: #f7b633;
}

.ActiveState {
  @apply w-3 rounded-lg;
  color: #f7b633;
}

.HeaderContainer {
  @apply text-center py-48 bg-cover bg-no-repeat;
  height: 755px;
}

.HeaderContainer main {
  @apply flex flex-col bg-transparent;
}

.HeaderContainer main h6 {
  @apply text-white font-medium text-2xl mt-3;
  line-height: 72px;
}

.HeaderContainer main h1 {
  @apply text-white font-extrabold text-6xl mt-10;
  line-height: 72px;
}

.Project {
  @apply font-semibold text-lg;
  /* width: 8%; */
  border: 1px solid #f7b633;
  border-radius: 10px;
  padding: 8px 24px;
  cursor: pointer;
  color: #f7b633;
  line-height: 150%;
  background-color: transparent;
}

.Project:hover {
  color: #25282b;
  background-color: #f7b633;
}

.Project:focus {
  outline: none;
}

.Contact {
  @apply font-semibold text-lg;
  /* width: 8%; */
  border: 1px solid #f7b633;
  background-color: #f7b633;
  border-radius: 10px;
  padding: 8px 24px;
  cursor: pointer;
  color: #25282b;
  line-height: 150%;
}

.Contact:hover {
  color: #f7b633;
  background-color: transparent;
  border: 1px solid #f7b633;
}

.Contact:focus {
  outline: none;
}
.ParentHeader {
  @apply flex justify-center items-center gap-8;
}

.ParentHeader marquee {
  @apply text-white font-medium text-2xl;
  line-height: 72px;
  width: 20%;
  direction: right;
}

.buttons {
  @apply flex justify-center gap-8 items-center mt-8;
  height: 90px;
}

.line {
  @apply;
  width: 150px;
  background-color: #d69e2e;
  height: 3px;
}

.hamburger {
  @apply;
  display: none;
  border-width: 0px;
}

.menuMobile {
  @apply;
  display: none;
}

@media only screen and(max-width:799px),
  only screen and (max-device-width: 799px) {
  .hamburger {
    @apply;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border: none;
    cursor: pointer;
  }

  .NavbarContainer nav {
    @apply hidden;
  }

  .lines {
    background-color: #fff;
    height: 5px;
    border: none;
    width: 60px;
    margin: 3px 0;
    margin-left: 10% 0;
  }

  .menuMobile {
    @apply text-5xl;
    background-color: #25282b;
    gap: 3rem;
    flex-direction: column;
    padding: 0 7%;
    width: 100%;
    height: 100%;
    right: 0%;
    color: white;
    display: flex;
    position: fixed;
    z-index: 10;
  }

  .HeaderContainer main h6 {
    @apply text-white font-medium text-4xl mt-3;
    line-height: 72px;
  }

  .HeaderContainer main h1 {
    @apply text-white font-extrabold mt-10;
    line-height: 72px;
    font-size: 4.8rem;
  }

  .Project {
    @apply font-semibold text-3xl;
    width: 11%;
    border: 2px solid #f7b633;
    border-radius: 10px;
    padding: 8px 24px;
    cursor: pointer;
    color: #f7b633;
    line-height: 150%;
    background-color: transparent;
  }

  .Project:hover {
    color: #25282b;
    background-color: #f7b633;
  }

  .Project:focus {
    outline: none;
  }

  .Contact {
    @apply font-semibold text-3xl;
    width: 11%;
    border: 2px solid #f7b633;
    background-color: #f7b633;
    border-radius: 10px;
    padding: 8px 24px;
    cursor: pointer;
    color: #25282b;
    line-height: 150%;
  }

  .Contact:hover {
    color: #f7b633;
    background-color: transparent;
    border: 2px solid #f7b633;
  }

  .Contact:focus {
    outline: none;
  }
  .ParentHeader {
    @apply flex justify-center items-center gap-8 mt-4;
  }

  .ParentHeader marquee {
    @apply text-white font-medium text-4xl;
    line-height: 72px;
    width: 42%;
    direction: right;
  }

  .buttons {
    @apply flex justify-center gap-8 items-center mt-8;
    height: 90px;
  }

  .line {
    @apply;
    width: 150px;
    background-color: #d69e2e;
    height: 3px;
  }

  .Project {
    @apply font-semibold text-3xl;
    width: 20%;
    border: 2px solid #f7b633;
    border-radius: 10px;
    padding: 8px 24px;
    cursor: pointer;
    color: #f7b633;
    line-height: 150%;
    background-color: transparent;
  }

  .Project:hover {
    color: #25282b;
    background-color: #f7b633;
  }

  .Project:focus {
    outline: none;
  }

  .Contact {
    @apply font-semibold text-3xl;
    width: 20%;
    border: 2px solid #f7b633;
    background-color: #f7b633;
    border-radius: 10px;
    padding: 8px 24px;
    cursor: pointer;
    color: #25282b;
    line-height: 150%;
  }
}
